<div class='container my-5 '>
  <div class="row">
  <h1>Edit Article</h1>
    <div class="col-8">
      <%= render 'form' %>
      <%=link_to "Cancel" , articles_path, class:"btn btn-danger"%>
    </div>
  </div>
</div>
